.datepicker {
  position: relative;
  text-align: left;
}

.datepicker * {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.datepickerinput {
  border: none;
  margin: 0;
  padding: 0;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  min-width: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  vertical-align: top;
  margin-top: 15px;
  margin-bottom: 7.5px;
}

.datepickerinput label {
  color: rgba(0, 0, 0, 0.8);
  padding: 0;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1;
  display: block;
  -webkit-transform-origin: top left;
          transform-origin: top left;
  top: 0;
  left: 0;
  -webkit-transform: translate(0, 24px) scale(1);
          transform: translate(0, 24px) scale(1);
  -webkit-transition-property: color, -webkit-transform;
  transition-property: color, -webkit-transform;
  transition-property: color, transform;
  transition-property: color, transform, -webkit-transform;
  -webkit-transition-duration: 400ms;
          transition-duration: 400ms;
  -webkit-transition-timing-function: cubic-bezier(0, 0, 0.3, 1);
          transition-timing-function: cubic-bezier(0, 0, 0.3, 1);
}

.datepickerinput label.focused {
  -webkit-transform: translate(0, 1.5px) scale(0.75);
          transform: translate(0, 1.5px) scale(0.75);
  color: #0067c7;
}

.datepickerinput .inputCon {
  width: 175px;
  color: #000;
  cursor: text;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  position: relative;
  font-size: 1rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 400;
  line-height: 1.1876em;
}

.datepickerinput .inputCon::before {
  left: 0;
  right: 0;
  bottom: 0;
  content: '\00a0';
  position: absolute;
  -webkit-transition: border-bottom-color 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  transition: border-bottom-color 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  border-bottom: 1px solid rgba(0, 0, 0, 0.4);
  pointer-events: none;
}

.datepickerinput .inputCon:hover::before {
  border-bottom: 1.5px solid rgba(0, 0, 0, 0.4);
}

.datepickerinput .inputCon::after {
  left: 0;
  right: 0;
  bottom: 0;
  content: '';
  position: absolute;
  width: 0;
  -webkit-transition: width 350ms cubic-bezier(0, 0, 0.2, 1) 0ms;
  transition: width 350ms cubic-bezier(0, 0, 0.2, 1) 0ms;
  border-bottom: 1.5px solid #0067c7;
  pointer-events: none;
}

.datepickerinput .inputCon.inputFocused::after {
  width: 100%;
}

.datepickerinput .inputCon input {
  font: inherit;
  color: #000;
  width: 100%;
  border: 0;
  height: 1.1876em;
  margin: 0;
  display: block;
  padding: 6px 0 7px;
  outline: none;
  min-width: 0;
  background: none;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  -webkit-tap-highlight-color: transparent;
}

input:hover .datepickerinput .inputCon::before {
  border-bottom: 1.5px solid black !important;
}

.datepickerinput .svg-icon {
  position: absolute;
  opacity: 0;
  right: -1em;
  width: 0.75em;
  height: 0.75em;
  cursor: pointer;
  -webkit-transition-property: right opacity;
  transition-property: right opacity;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  -webkit-transition-timing-function: ease;
          transition-timing-function: ease;
}

.datepickerinput .svg-icon.showClear {
  right: 0em !important;
  opacity: 1;
}

.datepickerinput .svg-icon path {
  fill: #4b4b4b;
}

.calendar {
  position: absolute;
  z-index: 50;
  background-color: #272727;
  width: 260px;
  border: 0.5px solid #272727;
}

.calendar .info {
  width: calc(100% + 1px);
  padding: 10px 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: black;
  color: white;
}

.calendar .info .year {
  font-size: 1rem;
  color: #a7a7a7;
}

.calendar .info .dayMonth {
  font-size: 1.4rem;
}

.calendar .calWrapper {
  padding: 5px 5px;
}

.calendar header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  line-height: 25px;
}

.calendar header span {
  text-align: center;
  width: calc(100% - ((100% / 7) * 2));
  float: left;
  font-size: 0.8rem;
  color: white;
}

.calendar header span.prev {
  cursor: pointer;
  content: url(../img/arrowUp.svg);
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  width: 10px;
  height: 10px;
}

.calendar header span.next {
  cursor: pointer;
  content: url(../img/arrowUp.svg);
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  width: 10px;
  height: 10px;
}

.calendar header span .prev:not(.disabled),
.calendar header span .next:not(.disabled),
.calendar header span .up:not(.disabled) {
  cursor: pointer;
}

.calendar header span .prev:not(.disabled):hover,
.calendar header span .next:not(.disabled):hover,
.calendar header span .up:not(.disabled):hover {
  background: white;
}

.calendar footer {
  width: calc(100% + 1px);
}

.calendar .col {
  display: inline-block;
  margin: 1px;
  padding: 0 5px;
  width: 33px;
  height: 33px;
  line-height: 33px;
  text-align: center;
  vertical-align: middle;
  border: 1px solid transparent;
  cursor: pointer;
  color: white;
}

.calendar .col.cal-day {
  border-radius: 50px;
  font-size: 13px;
}

.calendar .col.cal-day:hover {
  border: 1px solid white;
}

.calendar .col.selected {
  background-color: white;
  color: black;
}

.calendar .col.cal-day-header {
  font-size: 75%;
  white-space: nowrap;
  cursor: inherit;
}

.calendar .col.cal-day-header:hover {
  background-color: inherit;
}

.calendar .col.cal-day-last, .calendar .col.cal-day-next {
  color: #979797;
  border: none !important;
}

footer {
  padding: 5px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: black;
}

footer .toTimePicker,
footer .toCalendar {
  cursor: pointer;
  width: 20px;
  height: 20px;
}

footer .toTimePicker {
  content: url(../img/clock.svg);
}

footer .toCalendar {
  content: url(../img/calendar.svg);
}

.timePicker {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  z-index: 50;
  width: 250px;
  border: 0.5px solid #2e2e2e;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  background-color: #272727;
}

.timePicker footer {
  width: calc(100% + 1px);
}

.timePicker .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 70px;
  width: calc(100% + 1px);
  background-color: black;
  color: white;
}

.timePicker .info span {
  font-size: 3rem;
}

.timePicker .info .hour,
.timePicker .info .minute {
  width: 55px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  padding: 0 2px;
  color: #9e9e9e;
}

.timePicker .info .hour:hover,
.timePicker .info .minute:hover {
  background-color: rgba(255, 255, 255, 0.199);
  border-radius: 10px;
}

.timePicker .info .ampm {
  position: relative;
  top: 10px;
  left: 5px;
  width: 30px;
  padding: 1.5px;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  color: white;
}

.timePicker .info .ampm:hover {
  background-color: rgba(255, 255, 255, 0.199);
}

.timePicker .info .ampm .ap {
  font-size: 1rem;
  margin: 0 2.5px;
}

.timePicker .info .active {
  color: white;
}

.timePicker .clockWatch {
  width: 225px;
  height: 225px;
  background-color: #747474;
  border-radius: 50%;
  margin: 20px 0;
  margin-bottom: 10px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transform-origin: center;
          transform-origin: center;
}

.timePicker .clockWatch .time-picker-hour {
  width: 30px;
  height: 30px;
  left: calc(50% - 15px);
  position: absolute;
  top: -110px;
  border-radius: 50%;
  text-align: center;
  cursor: pointer;
  font-size: 1.2rem;
  line-height: 30px;
  margin: 0;
  color: white;
}

.timePicker .clockWatch .time-picker-hour.selected {
  pointer-events: auto !important;
}

.timePicker .clockWatch .time-picker-hour.disabled {
  opacity: 0;
  pointer-events: none;
}

.timePicker .clockWatch #time-picker-hour-center {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: black;
  position: absolute;
  left: calc(50% -2.5px);
  opacity: 0.9;
}

.timePicker .clockWatch #time-picker-hour-hand {
  width: 2px;
  height: 170px;
  position: absolute;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(50%, #00000000), color-stop(50%, rgba(0, 0, 0, 0.575)), color-stop(97.5%, rgba(0, 0, 0, 0.575)), color-stop(97.5%, rgba(0, 0, 0, 0)));
  background: linear-gradient(to top, #00000000 50%, rgba(0, 0, 0, 0.575) 50%, rgba(0, 0, 0, 0.575) 97.5%, rgba(0, 0, 0, 0) 97.5%);
}

.timePicker .clockWatch .time-picker-current {
  position: absolute;
}

.timePicker .clockWatch #time-picker-current-box {
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.575);
  left: calc(50% - 15px);
  width: 30px;
  height: 30px;
  position: absolute;
  top: -110px;
  border-radius: 50%;
  text-align: center;
  cursor: pointer;
  font-size: 1.2rem;
  line-height: 30px;
  z-index: -1;
}

.timePicker .bottom {
  color: #46acff;
  -ms-flex-item-align: end;
      align-self: flex-end;
  padding: 10px 5px;
  padding-right: 0;
  font-size: 0.8rem;
  font-weight: bold;
}

.timePicker .bottom span {
  cursor: pointer;
  padding: 7.5px 10px;
  border-radius: 15px;
  margin: 7.5px;
}

.timePicker .bottom span:hover {
  background-color: rgba(255, 255, 255, 0.26);
}
/*# sourceMappingURL=style.css.map */